include includes/header
div.container
  div.row
    div#bills.span8
      h2 班级: #{className}
      table.table.table-bordered.table-hover
        thead: tr
          th 医院
          th 经费标准
          th 人数
          th 时长
          th 项目
          th 合计（元）
        tbody
          - var classTotal = 0
          for bill in bills
            - var total = 0
            for student, i in bill.students
              - total += total + student.time * student.amount * bill.price
              tr
                td=bill.name
                td=bill.price
                td=student.amount
                td=student.time
                td=student.type
                td #{total}
            - classTotal += total
          tr
            td 合计（元）
            td(colspan="5") #{classTotal}