include includes/header.jade
  script(src='/javascripts/class.coffee', type="text/coffeescript")
  script#class_template(type="template/jade").
      tr
        td=name
        td=amount
        td=time
        td=period
        td=hospitals
        td: a(href="/class/\#{_id}/schedule") schedule
        td: a(href="/class/remove/\#{_id}") delete
  style
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
div.container
  div.row
    div.span8
      table#classes.table.table-bordered.table-hover
        thead: tr
          th name
          th amount
          th time
          th period
          th hospitals
          th schedule
          th delete
        tbody
          for clazz in classes
            tr
              td=clazz.name
              td=clazz.amount
              td=clazz.time
              td=clazz.period
              td=clazz.hospitals
              td: a(href="/class/#{clazz._id}/schedule") schedule
              td: a(href="/class/remove/#{clazz._id}") delete
    div.span4.offset8(data-spy="affix")
      form(action="/class/new", method="post")
        div.alert.hide
        label name:
        input.span4(name="class[name]",required, type="text", placeHolder="name")
        label amount:
        input.span4(name="class[amount]",required, type="number", placeHolder="amount")
        label time:
        input.span4(name="class[time]",required, type="number", placeHolder="time")
        label period:
        input.span4(name="class[period]",required, type="number", placeHolder="time")
        label hospitals:
        for hospital in hospitals
          label.checkbox=hospital.name
            input(name="class[hospitals]",type="checkbox",value="#{hospital.name}")
        button.btn.btn-primary.offset3 add
